* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgb(48, 44, 44);
  margin: 40px;
  border: 2px solid white;
  padding: 40px;
}

header {
  border-bottom: 2px solid azure;
}

h1,
h2 {
  color: azure;
}

.number {
  height: 100px;
  width: 100px;
  background-color: azure;
  position: absolute;
  left: 900px;
  top: 185px;
  font-size: 70px;
  text-align: center;
  padding-bottom: 2px;
}
main {
  height: 500px;
}

input {
  height: 50px;
  width: 100px;
  font-size: xx-large;
}

.left {
  position: absolute;
  top: 400px;
  left: 200px;
  height: 200px;
}

.right {
  position: absolute;
  font-size: xx-large;
  top: 400px;
  left: 1300px;
  height: 200px;
  width: 300px;
  color: aliceblue;
}

.btn-again {
  position: relative;
  left: 1500px;
  bottom: 30px;
}

button {
  font-size: larger;
  padding: 10px;
  margin: 15px;
}

.message {
  margin-bottom: 15px;
}
